<h1>Authors#index</h1>
<p>Find me in app/views/authors/index.html.erb</p>
<hr>
<ul>
<% @authors.each do |author| %>
<li><h2><%= link_to author.full_name, "/@#{author.username}" %></h2></li>
<li><%= author.bio %></li>
<li>recent posts:<br>
	<% posts = author.posts.last(5).reverse %> 
	<% posts.each do |post| %>
		<tl><%= link_to post.title, post_path(post.permalink) %> <%= post.publish_at %></tl><br>
	<% end %>
</li>
<hr>
<% end %>